<swiper-container
  class="aspect-[4/3] h-[29rem] w-[18rem] text-white text-bold text-[5rem]"
  effect="cards"
  grab-cursor="true"
  initial-slide="1"
  cards-effect-per-slide-offset="20"
  cards-effect-per-slide-rotate="10"
  cards-effect-rotate="true"
  cards-effect-slide-shadows="true"
>
  <swiper-slide class="p-[.4rem] bg-white rounded-md flex flex flex-col">
    <div class="grow rounded-md bg-red-400 flex justify-center items-center text-white">
      <span>6</span>
    </div>
  </swiper-slide>
  <swiper-slide class="p-[.4rem] bg-white rounded-md flex flex flex-col">
    <div class="grow rounded-md bg-blue-400 flex justify-center items-center">
      <span>7</span>
    </div>
  </swiper-slide>
  <swiper-slide class="p-[.4rem] bg-white rounded-md flex flex flex-col">
    <div class="grow rounded-md bg-green-400 flex justify-center items-center">
      <span>3</span>
    </div>
  </swiper-slide>
</swiper-container>
